astroid==3.0.0a9
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
dill==0.3.7
idna==3.4
isort==6.0.0b2
lazy-object-proxy==1.9.0
mccabe==0.7.0
numpy==1.26.0b1
pandas==2.1.0rc0
platformdirs==3.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
six==1.16.0
tomlkit==0.12.1
tzdata==2023.3
urllib3==2.0.4
vk-api==11.9.9
wrapt==1.15.0
